<% action_url = album.persisted? ? album_url(album) : albums_url %>
<% method = album.persisted? ? "patch" : "post" %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <%= auth_token_input %>

  <label>Album Title:
    <input type="text" name="album[title]" value="<%= album.title %>">
  </label>

  <br>

  <label>Album Year:
    <input type="text" name="album[yr]" value="<%= album.yr %>">
  </label>

  <br>

  <label>
    <input type="radio"
      name="album[is_studio?]"
      value="true"
      <%= album.is_studio? ? "selected" : "" %>
      >
      Studio
  </label>
  <label>
    <input type="radio"
      name="album[is_studio?]"
      value="false"
      <%= album.is_studio? ? "" : "selected" %>
      >
      Live
  </label>

  <br>

  <% submit_val = album.persisted? ? "Update" : "Create" %>

  <input type="submit" value="<%= submit_val %>">

</form>
